[{kernel,
	[{distributed, [{'iasc_tp', 5000, ['a@REEMPLAZAR-POR-NOMBRE-DEL-HOST-VER-README', {'b@REEMPLAZAR-POR-NOMBRE-DEL-HOST-VER-README', 'c@REEMPLAZAR-POR-NOMBRE-DEL-HOST-VER-README'}]}]},
	 {sync_nodes_mandatory, ['a@REEMPLAZAR-POR-NOMBRE-DEL-HOST-VER-README', 'b@REEMPLAZAR-POR-NOMBRE-DEL-HOST-VER-README']},
	 {sync_nodes_timeout, 30000}
]}].
